<template>
  <q-layout view="lHh Lpr lFf">
   <q-header>
      <div class="q-px-lg q-pt-xl q-mb-md">
        <div class="text-h3 text-weight-bold logo">Logo</div>
        <div class="text-h2 text-weight-bold q-mt-5 logo">El secreto de tu cocina</div>
        <q-img
          src="~assets/BRUSH-3 2.png"
          spinner-color="white"
          class="img-izq"
        />

      </div>
      <q-img
      src="~assets/hero.png"
      spinner-color="white"
      class="header-image absolute-top"
    />
    </q-header>

   <!-- <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Essential Links
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer> -->

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>


export default {
  name: 'MainLayout',
  components: { },
  data () {
    return {
      leftDrawerOpen: false,
    }
  }
}
</script>

<style lang="scss">
body {
  background: #efefef;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.logo {
  font-family: 'Caveat', sans-serif;
  color: #3F454A;
}

.header-image {
  height: 100%;
  width: 100%;
  z-index: -1;
}

.img-izq {
  height: 100%;
  width: 50%;
  z-index: 1;
  margin-top: -5px;
}

</style>
